// Example: override Bootstrap color variables
$primary: #000;
$secondary: #d47f31;

$enable-negative-margins: true !default;

$headings-font-weight: 400 !default;

// scss-docs-start position-map
$position-values: (
   0: 0,
   10: 10%,
   25: 25%,
   50: 50%,
    60: 60%,
    65:65%,
    70: 70%,
   75: 75%,
   100: 100%,
   auto: auto
) !default;
// scss-docs-end position-map


// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
   0: 0,
   1: $spacer * 0.25,
   // 4px
   2: $spacer * 0.5,
   // 8px
   3: $spacer,
   // 16px
   4: $spacer * 1.5,
   // 24px
   5: $spacer * 2,
   // 32px
   6: $spacer * 2.5,
   // 40px
   7: $spacer * 3,
   // 48px
   8: $spacer * 4,
   // 64px
   9: $spacer * 5,
   // 80px
   10: $spacer * 6,
   // 96px
   11: $spacer * 8,
   // 128px
) !default;
// scss-docs-end spacer-variables-maps

$font-family-base: 'Poppins', sans-serif !default;
$font-size-root:              null !default;
$font-size-base:              .875 !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .65 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-xs: 0.75rem !default;

// scss-docs-start border-radius-variables
$border-radius: 0rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;
$border-radius-none: 0rem !default;

$input-border-radius: $border-radius-none !default;

$btn-border-radius: $border-radius-none !default;
$border-radius-sm: $border-radius-none;
$border-radius-lg: $border-radius-none;


$input-btn-padding-y: 0.85rem !default;
$input-btn-padding-x: 1.5rem !default;



$link-decoration:                         none !default;
$link-hover-color:                        $secondary !default;
$link-hover-decoration:                   underline !default;